
body {
    padding-top: 10px;
}

.body .btn:not(.btn-block) {
    width: 100px;
    height: 60px;
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow:hidden;
    font-size: 12px;
}

.card {
    background-color: #ecf0f5;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.card_details {
    background-color: #dff0d8;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.card_info {
    background-color: #f2dede;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

tr, th {
    padding: 2px;
}
